[2016-06-13 17:45] nicolasabric opened #34 "VimeoNetworking.h file not found"
#### Issue Summary
Adding and using VimeoNetworking (v0.0.1) as a (git) pod dependency result in the following error:
[code]
#### Reproduction Steps
- Create a new tvOS project (Single View Application) and add the following dependency to your pod file:
```pod 'VimeoNetworking', :git => 'https://github.com/vimeo/VimeoNetworking.git' ```
- Run the pod install command
- Open the generated workspace

[2016-06-14 14:03] nicolasabric opened #35 "Single user application, lightweight use"
#### Issue Summary
It should be possible to use the token generated for an API app (https://developer.vimeo.com/apps) to authenticate api calls issued by the VimeoClient. On the VIMNetworking repo this technique seemed to be referred as [Lightweight Use](https://github.com/vimeo/VIMNetworking#lightweight-use).

#### Reproduction Steps
- Go to https://developer.vimeo.com/apps
- Create an app or use

[2016-06-23 17:39] #35 closed

[2016-07-11 16:59] #34 closed

[2016-09-08 18:49] geek1250 opened #52 "Unable to find a specification for `VimeoNetworking`"
when using Pod, I got this error: "Unable to find a specification for `VimeoNetworking`"
in Podfile:
pod 'VimeoNetworking'

if in Podfile:
pod 'VimeoNetworking', '1.0'
the error is :
Analyzing dependencies
[!] Unable to find a specification for `VimeoNetworking (= 1.0)`

[2016-09-16 20:16] FibonacciRedstone commented on #52
I've had this problem too, looked on cocoa pods and there is no 'pod' called VimeoNetworking. They need to fix this.

[2016-09-16 21:20] geek1250 commented on #52
Hi, thanks. I am try to using Objective-c library. But what should I set to
keychainService for VIMSessionConfiguration?
Thanks.

geek1250

On Friday, 16 September 2016, FibonacciRedstone <notifications@github.com>
wrote:

[2016-09-19 22:19] jasonhawkins commented on #52
Sorry for the slow response, but you're absolutely right that VimeoNetworking isn't part of the Cocoapods podspecs repo. Which means it cannot be installed with `pod install`.

We have a list of things we're currently working through in VimeoNetworking, and part of that work is to make this a legitimate pod. And also to make sure our documentation is accurate 😬

In the meantime VimeoNetworking can

[2016-09-19 22:19] #52 closed

[2016-09-21 02:23] Addisonbean opened #57 "Add Swift 3 Support"
Like the title says, Swift 3 support is currently missing from VimeoNetworking.

[2016-09-21 19:08] geek1250 opened #59 "it seems do not support iOS10"
VimeoNetworking support   iOS10 or not?

VimeoNetworking also run well on iOS9.3 simulator, but when I turn to iOS10, VimeoNetworkingExample-iOS tell me I misconfig Client Identifier

I am sure the Client Identifier and secret are right because I run the same code in iPhone6 with iSO9.3, it works very well.
![image](https://cloud.githubusercontent.com/assets/15271947/18725189/403b4452-800d-11e6-91

[2016-09-23 16:28] jasonhawkins commented on #59
Hey there, and thanks for writing. At this time VimeoNetworking does not support iOS 10, nor building against Xcode 8. This is on our roadmap though, and it's a high priority for us. So we may have some updates on this front soon.

Thanks again, and sorry for the inconvenience!

[2016-09-23 16:28] #59 closed

[2016-11-03 02:03] eman6576 opened #74 "Doing Pod Install Not Working."
Hi,

When doing a pod install using `pod 'VimeoNetworking', '1.1'` Cocoapods complains that it can't find a specification. I tried doing `pod 'VimeoNetworking'` without specifying the version number and that doesn't work either. Is the documentation wrong for the version to use since I looked at the podspec and the version there was 0.0.1. Thanks.

[2016-11-03 04:02] jasonhawkins commented on #74
Hey Emanuel, thanks for creating an issue. VimeoNetworking's CocoaPods integration is currently broken, but getting it working is on our list of priorities for the near future. We're in the middle of a large codebase migration at the moment, which is part of the reason for the delay.

Right now the only way to integrate VimeoNetworking into your project is to drag the files in manually. I realize

[2016-11-03 04:02] #74 closed

[2016-11-04 22:39] eman6576 commented on #74
Oh alright didn't know. Thank you.

[2016-11-11 21:53] Addisonbean commented on #57
Any update on this?

[2016-11-23 09:42] TomCarey commented on #57
Agreed, desperately need swift 3 support

[2016-11-25 00:40] wangbourne opened #79 "Vimeo Pro members can NOT access playback URLs for Vimeo videos which are created by others"
Here [https://github.com/vimeo/VIMVideoPlayer](url)
It describes: "Vimeo Pro members can access playback URLs for Vimeo videos using the Vimeo API. Playback URLs are only included in the response object if the requesting account is a Vimeo Pro account.".

I did a test here and found:
1.  I can get playback URLs if the videos are created by myself, and I can play via VIMVideoPlayer. I noticed that

[2016-12-21 15:47] geek1250 opened #87 "how to logout vimeo so that other user can login in"
thx

[2017-01-18 23:02] hash3r commented on #79
I would like to support topic starter question.
Is it possible to play public video files created by other users?

[2017-02-16 15:32] muhammetkole commented on #57
Any update on swift 3?

[2017-02-20 00:13] saiprasanna-palle commented on #57
Any estimated date by when the Swift 3 support will be out?

[2017-02-26 08:28] mohaiminul-sust commented on #57
Desperately need this in swift 3. Any updates folks?

[2017-02-28 10:36] JakubMazur opened #116 "Carthage support"
Hi, can you provide Carthage support for this library? For now I got an error:

[code]

https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework

[code]

[2017-03-06 13:27] shalamowww opened #118 "Doesn't install via CocoaPods"
[!] Unable to find a specification for `VimeoNetworking (= 1.0)`

[2017-03-06 13:29] shalamowww commented on #57
WIP?

[2017-03-08 11:36] TomCarey commented on #57
Sorry everyone, I couldn't wait for Vimeo to update the library to swift 3 (which has been out for months) so I quickly converted it myself, https://github.com/TomCarey/VimeoNetworking Probably a bit of a hack in places but it seems to work for me.

[2017-04-10 15:23] jsartain commented on #52
Would you please update your current README file to add this issue.    Thanks

[2017-05-08 14:27] jasonhawkins commented on #57
Hi, everybody. It's been a long (lonng, lonnnng) time coming but we finally have a work-in-progress version of VimeoNetworking updated for Swift 3.

This is not the final version as more work is needed (including fixing CocoaPods support, updating inline documentation & the readme, and more), but if you need Swift 3 support in your project today it might be worth checking out. Our `develop` branch

[2017-05-08 14:27] #57 closed

[2017-05-08 14:33] jasonhawkins commented on #118
Hi @shalamowww, thanks for creating an issue. Fixing this is high on the list of priorities, but comes after full Swift 3 support. We currently have a work-in-progress version of VimeoNetworking with Swift 3 on our `develop` branch. We're closing in on a final release and that version will include CocoaPods support.

I don't have a date for you, but this is under active development and very import

[2017-05-08 14:33] #118 closed

[2017-06-29 16:27] russnettle opened #163 "Instructions advise to install via pod file however this method fails and there are no other instructions around which files are needed"
"To get started integrating VimeoNetworking, add the following lines to your Podfile and run pod install:"

This fails

There are no other instructions on which files are needed - please could you update the read me?

[2017-07-12 13:08] lloydroc commented on #163
OK I got it to work. What they meant by the instructions was in your main XCode project create a folder called `Submodules`. Clone the VimeoNetworking project into the `Submodules` folder. Then change

[code]

To this:
[code]

[2017-07-20 00:42] amajeedmuazu opened #168 "Fix For Integrating with Swift 3"
Incase you (like me) tried to drop the folder "VimeoNetworking/VimeoNetworking/" that contains the 'Sources' and 'Resources' folder into your Swift (3) project and begin to get build errors; here is how to fix them :-

Get **AFNetworking** as it is a dependency (pod install available)
Get **VIMObjectMapper** as it is a dependency (pod install available)

Next in your objective-c bridging header, i

[2017-07-20 00:42] #168 closed

[2017-07-20 00:46] amajeedmuazu commented on #57
Add the folder "VimeoNetworking/VimeoNetworking/" that contains the 'Sources' and 'Resources' folder somewhere in your Swift (3) Xcode project then do the following :-

Get **AFNetworking** as it is a dependency (pod install available)
Get **VIMObjectMapper** as it is a dependency (pod install available)

Next in your objective-c bridging header, import VimeoNetworking.h
like this. : `#import "Vim

[2017-07-24 18:31] ErAshu opened #169 "How to use in Objective C"
Hi,
I want to vimeo integration in Objective C? I have to upload video on vimeo server. Please guide me.
Thanks.

[2017-07-25 12:08] duraiganesh0 opened #171 "ArgumentError - Illformed requirement `"./Submodules/VimeoNetworking"`"
I am getting this error

 `"./Submodules/VimeoNetworking"`  when i run pod install. can anyone help me to resolve this problem?

[2017-07-27 13:28] jasonhawkins commented on #171
Hi there, sorry for the confusion.

We're working on a few things at once right now, including our docs. We do have a work-in-progress document set up that might be helpful though! Try following the steps in here and let us know if you run into any trouble:

https://paper.dropbox.com/doc/Getting-Started-with-Submodules-as-Development-Pods-yRpNbPxIOjzGlcEbecuOC

[2017-07-27 13:33] jasonhawkins commented on #163
Hi there, sorry for the confusion. @lloydroc is right.

We're working on re-writing our docs and have set up a work-in-progress guide here. Try it out and let us know if you run into any problems.

https://paper.dropbox.com/doc/Getting-Started-with-Submodules-as-Development-Pods-yRpNbPxIOjzGlcEbecuOC

[2017-08-01 21:55] jasonhawkins commented on #163
I'm going to go ahead and close this for now. But let us know you need more help getting set up, or if those instructions aren't clear enough 👍

[2017-08-01 21:55] #163 closed

[2017-08-01 21:56] jasonhawkins commented on #171
I'm going to close this issue, but don't hesitate to let us know if you still need help getting set up.

[2017-08-01 21:56] #171 closed

[2017-08-11 20:26] jasonhawkins commented on #116
Hello! I know it's been forever but I wanted to give an update on this. We've got a branch up that should allow you to add VimeoNetworking to a Cartfile.

The branch is `tech/add-carthage-support` and there's a PR [here](https://github.com/vimeo/VimeoNetworking/pull/174). I can't say for sure when this will get merged, but hopefully this helps if you need Carthage support _now_.

In your Cartfile

[2017-08-11 20:26] #116 closed

[2017-09-30 22:11] jvsl opened #190 "Get private videos"
I have a private vdeo and I want to get it, but always receive Request failed: unauthorized (401) as redponse. I have client Id, client secret and access token. What am I doing wrong?

func configVimeoApp() {
        let clienId = "xxxx";
        let clientSecret = "xxx"
        let appConfiguration = AppConfiguration(
        clientIdentifier: clienId,
        clientSecret: clientSecret,

[2017-10-02 21:43] jasonhawkins commented on #190
Hey, @jvsl.

If the code in your app is executing exactly as you have it here, your request for the video object will actually kick off _before your auth request finishes_. You could try putting the video request under the `success` case where you currently have `print("authenticated successfully: \(result)")`. Or connect the request to another action, like tapping a cell.

But also, keep in mind

[2017-10-02 21:43] #190 closed

[2017-10-02 21:48] jasonhawkins commented on #79
Hooooo boy, this is an old one. Here are some answers:
1. Yes, the URLs will expire. You'd need to fetch the video object again to get updated URLs for the video files.
2. That is correct, video files for other users are not accessible without registering as a partner here: https://www.vimeopartnernetwork.com

Which should also answer @hash3r's question – you would need to register as a partner to

[2017-10-02 21:48] #79 closed

[2017-10-02 21:52] jasonhawkins commented on #87
Hi, @geek1250. Hopefully you figured this out by now, but for future reference our VimeoNetworking example app uses the following pattern to handle logging out:

[code]

[2017-10-02 21:52] #87 closed

[2017-10-02 23:40] jvsl commented on #190
Omg. Of course it's happen. It's asynchronous. Mad bad. Thanks.

[2017-10-04 19:47] JakeAtArtamata opened #191 "Swift 3.2 / 4.0"
Can you please update us on plans to support Swift 3.2 or Swift 4 so that we are able to use Vimeo on Xcode 9.

[2017-10-04 19:49] ModPilot commented on #191
+1

[2017-10-19 11:50] dougamos commented on #191
For me it works with swift 3.2.  I'm on develop branch. Make sure you project is set to use Swift 3.2 (Build Settings > Swift Language Version -> Swift 3.2) and that the pods are using Swift 3.2. This can be done by adding the following code to the end of your Podfile:

[code]

[2017-10-19 15:00] jasonhawkins commented on #191
@JakeAtArtamata, @ModPilot, @dougamos Hey folks, we don't have a PR up yet but I've got a branch that includes Swift 4 / Xcode 9 support: `tech/swift-4-support`. It should also help resolve a bunch of build warnings. We'll try to get that merged into `develop` soon but I hope it helps if you need better Xcode 9 / Swift 4 support right away.

If you run into any issues definitely leave a comment. I

[2018-01-07 08:24] kutakmir opened #204 "How to get Albums?"
The latest version's model doesn't include Album - what should I use to get albums? Thank you!

[2018-01-07 09:27] kutakmir commented on #204
ok, it is not there yet, I created a Pull request:
https://github.com/vimeo/VimeoNetworking/pull/205

[2018-01-20 00:57] jyaunches opened #207 "Can't access private videos."
HI there! So, I'm using the swift 4.0 branch. Authentication went well.

I've found that I'm only able to access the public videos for this account. Here's a screen shot of the example code running from your README.. and the video detail page from the site showing the video is set to private.

(And the breakpoint showing the error.. it's a 404 NOT FOUND)

![screen shot 2018-01-19 at 7 52 08 pm](ht

[2018-02-20 11:04] hahuja commented on #118
Hi, this issue still exists.

PFA Screenshot,
![screen shot 2018-02-20 at 4 33 29 pm](https://user-images.githubusercontent.com/30920058/36420736-f88d071c-165b-11e8-93ef-9eec94364845.png)

[2018-02-21 00:44] rslonik commented on #207
Hey @ jyaunches are you using the `develop` with Swift 4 and Xcode 9?

I tried to use `tech/swift-4-support` and `develop` without success. :(

I tried installing dragging files to my project and the clone and pod instructed in the Readme. None methods helped.

If you can tell me how you got it working I'll be grateful.

[2018-02-27 20:20] rslonik opened #215 "Can't get video_files"
Hello,

I'm testing this API but can't get the video files.

I intend to download the files to permanently cache some videos in my APP (I'm testing with my own token and my own video, via "Lightweight auth use informed in the Readme").

I can get the user, the video (thumbs, names, etc). But can't find a way to retrieve the video files.

I need to be PRO user to access the video files?

I need to

[2018-02-28 13:06] pchelnikov commented on #207
I have the same issue (404 in response).
Any ideas?
@jasonhawkins @jenniferlim @ghking

[2018-03-09 19:43] nagueva commented on #215
Any news on this topic? I'm also having problems trying to get video files. ):

[2018-03-14 15:11] Twigz opened #217 "New Release"
Looks like there's been some work on this since the last release in August. Any chance we could get a release any time soon?

Specifically I'm interested in this [commit](https://github.com/vimeo/VimeoNetworking/commit/8307f215798b876a5950ab18e0271fbdb0c082ff#diff-e01afd6225e5a3320c7ca16692fd7e23) that fixes an issue with compile times, as I'm seeing an increase of about 130 seconds in compile tim

[2018-03-27 18:34] samsonjs opened #220 "Cannot integrate using Carthage because the Xcode project lacks shared schemes for frameworks"
The Xcode project doesn't have a shared schemes for frameworks so it cannot currently be used with Carthage.

[Carthage](https://github.com/Carthage/Carthage) is a dependency manager that can manage git submodules for you, and builds frameworks so you don't have to build your unchanging dependencies over and over as you develop. It would be cool to use it for VimeoNetworking too.

[2018-04-05 13:34] mliberatore commented on #217
In Xcode 9.3, this expression is frequently causing a compiler error for us. The commit that @Twigz mentions above addresses this. A release including this would be really helpful!

![screen shot 2018-04-05 at 8 39 47 am](https://user-images.githubusercontent.com/7883805/38368771-2e64f4c4-38b4-11e8-8a86-070d6cbec99c.png)

[2018-04-05 14:59] jasonhawkins commented on #217
Hey guys! We're working toward releasing a new version after [the Swift 4 changes](https://github.com/vimeo/VimeoNetworking/pull/210) are merged in. Which should be soon – like maybe in the next week?

I've been running into the Xcode 9.3 compiler error too @mliberatore, so I'll try to address that as well. Hope things are going well over there though!

Also hi @paulbruneau 👋

[2018-04-17 22:08] jasonhawkins commented on #217
@Twigz We're close. I was out for a bit but it looks like we're winding down on changes on that PR. Maybe we can even get this thing out tomorrow. I'll keep you posted if it'll be longer.

[2018-04-18 06:37] aaalveee opened #225 "How to play private Vimeo videos in iPhone/Android?"
Just integrated **VimeoNetworking** with my project. My videos are private, and I am able to fetch and list these private videos in my App. But I have no idea, how I can play these videos.

I have **VIMVideo** object. I am able to get the video link & URI from this object. There is no direct way to find the actual file URL from this object. So how I am supposed to play the video?  I can't pass the

[2018-04-18 21:03] jasonhawkins commented on #217
@Twigz Probably not happening today, srryy

[2018-04-19 04:04] oNguyenNgocBan commented on #215
I having the same problem. The token created by Login Authentication from my app can't get video files too. (I tested with token created by other apps, it can get video files)

[2018-04-26 12:06] barkiiqbal commented on #225
Any luck? I am also trying to play the private video but cannot find a solution.

[2018-05-02 02:14] jasonhawkins commented on #191
In case you missed it, we tagged a release that includes Swift 4 support: https://github.com/vimeo/VimeoNetworking/releases/tag/3.1.0 🚀

We're still working on things, but hopefully this helps. It's been a long, long, lonnnng time coming.

[2018-05-02 02:14] #191 closed

[2018-05-25 23:08] ChrisBGriffith commented on #215
I'm also having this issue. I have upgraded my account to pro, but the files array on the VIMVideo object is nil.

[2018-07-06 21:44] jasonhawkins commented on #225
Hi @aaalveee and @barkiiqbal, thanks for the question and sorry it took so long for a response 😬

To get access to video URLs via the Vimeo API you need a Pro subscription. Otherwise you only have access to data related to the video; things like title, description, etc. With a Pro subscription you'll have access to Progressive playback files, as well as HLS and Dash streams for your own videos. To

[2018-07-06 22:06] jasonhawkins commented on #215
Hey everybody, sorry it took so long for a response here.

You're right that you need to be a Pro member to get access to your own video URLs, and you'll need to [register as a parter](https://www.vimeopartnernetwork.com) to get access to other people's Video URLs.

@ChrisBGriffith, are you still having a problem with this? My gut says you may need to generate a new access token after upgrading yo

[2018-07-19 10:29] siddheshbhide opened #247 "Getting error while installing pod for VimeoNetworking"
getting this error while pod update
No podspec found for `VimeoNetworking` in `./Submodules/VimeoNetworking`

[2018-07-19 13:56] jasonhawkins commented on #247
Hey @siddheshbhide, were you able to use VimeoNetworking previously? Or is this the first time you've tried adding it to your project? If it's the latter, take a look at [this document](https://paper.dropbox.com/doc/Getting-Started-with-Submodules-as-Development-Pods--AICxYP0mYoJMSHUD_~M530BdAg-yRpNbPxIOjzGlcEbecuOC) which might help get you set up.

Let me know if you're still having trouble thou

[2018-07-24 01:32] jasonhawkins commented on #225
@aaalveee 🚀🚀🚀

[2018-07-24 01:32] #225 closed

[2018-07-24 01:36] jasonhawkins commented on #215
I'm going to go ahead and close out this issue, but feel free to open another issue if you run into any trouble 👍

[2018-07-24 01:36] #215 closed

[2018-07-24 08:42] thanhnv58it commented on #247
your document save my day 👌

[2018-07-24 13:59] jasonhawkins commented on #247
@thanhnv58it, awesome I'm glad to hear it 🎉

[2018-07-26 14:10] jasonhawkins commented on #247
I'm going to close this out, but let me know if you have any other issues, @siddheshbhide.

[2018-07-26 14:10] #247 closed

[2018-08-17 19:50] MaXiao opened #256 "Cannot retrieve video link"
I'm using a `Pro` account, and try to retrieve the link of one of my own video, so I can play it in my app. I got the video object, but the `files` property is always `nil`.

I suspect it may related to the `scopes` declaration, but `Scope` enum doesn't have a `video_files` value.

I also tried to make that call on API playground, the response payload doesn't have a `files` field, or anything look

[2018-08-20 15:40] bryantjustin commented on #256
Did you upgrade to a PRO after your app's token was created? If so, have you tried creating a new token yet? This could also explain why the `files` property isn't being returned.

[2018-08-20 16:06] MaXiao commented on #256
Never mind, there was a timing issue with the access token authentication request and the data request. Now I can see the `files` after resolving the issue.

[2018-08-20 16:06] #256 closed

[2018-08-27 17:21] ugowe opened #259 "Is VideoFiles still a supported Scope?"
I have a Pro account and I'm trying to play videos from the `files` array as mentioned here: https://github.com/vimeo/PlayerKit/issues/29

However, `VideoFiles` seems to no longer be a case for the Scope enum.

Is there another way to access that `link` URL in the `files` array?

![screen shot 2018-08-23 at 2 46 47 pm](https://user-images.githubusercontent.com/16910028/44674516-c01fe000-a9fb-11e8-

[2018-08-28 14:10] ugowe commented on #259
@jasonhawkins @Jumhyn

[2018-08-31 18:24] hawflakes opened #262 "Stop linking to this if it's deprecated?"
https://developer.vimeo.com/api/reference

links to this repo. But the repo says it's deprecated and to go to https://github.com/vimeo/PlayerKit instead. Can you update the docs?

[2018-09-04 19:07] hawflakes commented on #262
Whoops. I filed against the wrong repo. It was meant for https://github.com/vimeo/VIMVideoPlayer/issues
https://developer.vimeo.com/api/libraries

I'll file it there. Sorry about that.

[2018-09-04 20:05] hawflakes commented on #262
Opened up an issue here: https://github.com/vimeo/VIMVideoPlayer/issues/73

[2018-09-04 20:05] #262 closed

[2018-09-05 14:12] jasonhawkins commented on #262
Ah, gotcha. Thanks for updating the issue! I'll see what we can do about getting that stuff changed.

[2018-09-14 09:40] pawansn commented on #247
Any other way to install VimeoSDk in iOS?

[2018-09-14 14:41] jasonhawkins commented on #247
@pawansn Yes! Our latest release is version 3.3.0 and can be installed by adding this to your project's Podfile:
[code]

https://cocoapods.org/pods/VimeoNetworking

[2018-09-18 05:09] pawansn commented on #247
@jasonhawkins nice to hear that
Thanks

[2018-10-08 05:37] ankitsiliconithub opened #267 "Safari cannot open the page because the address is invalid."
vimeo client id = 6152cbcfb474f296704bef9be3eb914c7cbcca8f

I've set callback url in vimeo app = vimeo6152cbcfb474f296704bef9be3eb914c7cbcca8f://auth

and in my ios application plist =

<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>vimeo</key>
			<string>vimeo6152cbcfb474f296704bef9be3eb914c7cbcca8f</string>
		</dict>
	</array>

for login it goes to safari and asks for login and then authe

[2018-10-08 07:18] #267 closed

[2018-10-18 20:29] jasonhawkins commented on #220
Hey @samsonjs thanks for your interest in VimeoNetworking and for trying to make it easier to integrate into more kinds of projects. We kicked around the idea of adding Carthage support, and even [created a branch](https://github.com/vimeo/VimeoNetworking/tree/tech/add-carthage-support) for it at one point, but ended up deciding that it wasn't something we could support long-term. Your issue here

[2018-10-18 20:29] #220 closed

[2018-11-20 20:23] bclark8923 commented on #207
Any update here?

[2018-12-13 07:00] gourav2311 commented on #225
i am not able to play my private vedio

[2018-12-13 14:40] jasonhawkins commented on #225
@gourav2311 Is your issue similar to the one described above? Are you getting an error of some sort, or is the JSON response not what you're expecting?

[2018-12-14 15:15] PavelKatunin opened #288 "cannot get authorize only with access token"
The following example is wrong, there is no initializer without AppConfiguration.

let authenticationController = AuthenticationController(client: vimeoClient)
authenticationController.accessToken("your_access_tocken") { result in
    switch result
    {
        case .Success(let account):
            print("authenticated successfully: \(account)")
        case .Failure(let error):
           prin

[2018-12-17 15:02] PavelKatunin commented on #288
Now I'm using all credentials and it crashes

AppConfiguration

[2019-01-15 07:36] Vitaliy-Sh opened #290 "Full url to video is broken in the latest versions. Pro account."
This problem has already been opened many times, but looks like it is not resolved yet!

We want to get full url to video files, but in the last versions we cannot do this - "files" array is empty in the received object.
We can get files array not empty only in version 3.1.0. Any version newer than that returns nil.
New version 3.3.1 has been released recently. But the fields array is still nil.

[2019-01-22 11:48] connorb645 opened #292 "Private Video 404 Error"
Hi,

Having obtained a premium Vimeo account, I would like to be able to use the provided Video API in order to access specific Private videos.
I have successfully authenticated the application with the premium account using the following code:

<img width="592" alt="screenshot 2019-01-22 at 11 47 37" src="https://user-images.githubusercontent.com/18633525/51533708-8ed8fe00-1e3b-11e9-86a7-f355fdbf

[2019-01-31 07:38] jvcleave commented on #204
Any updates on this?

[2019-01-31 16:00] jvcleave commented on #204
For anyone else trying to use this with cocoapods:
I was able to use this PR by adding the changes manually but they didn't show up until I ran `pod update`

I also had to chop of the first / in the `VIMAlbum.uri` object in order to make it compatible for further requests

[2019-02-01 16:54] jasonhawkins commented on #204
@jvcleave Ah gotcha, do you usually use Submodules or Carthage or something like that instead?

If you wanted to use CocoaPods you could set up a Podfile from scratch using this as a starting point:

[code]

[2019-02-12 19:26] BaileyM opened #295 "Missing VIMUpload file/class"
I have pulled the master branch, and when I try to compile I get the following error:

VimeoNetworking/Sources/Models/VIMVideo.m:153:17: Receiver 'VIMUpload' for class message is a forward declaration

I cannot find the VIMUpload file or class. Looking at the Models folder, looks like VIMSizeQuota and VIMUploadQuota (both .h and .m) files are expected but missing.

Is there a different branch I sh

[2019-02-12 23:32] #295 closed

[2019-04-02 16:22] jasonhawkins commented on #204
@kutakmir @jvcleave I know it's been a long, long time coming, but the albums work has been merged into our `develop` branch. We'll be working to get this behind an actual release version number soon, but hopefully this is helpful in the meantime.

I'm going to close this issue but feel free to open another if you have any questions or comments. Thanks for your patience 🎉

[2019-04-02 16:22] #204 closed

[2019-04-11 13:31] prathamsalawkar opened #306 "VimVideo.Files come as nil for version 3.3.1"
In VIMVideo objects Files are coming as nil. In version 3.0.1 it is working fine but in version 3.3.1 which is necessary for XCode 10.2 and swift version upgrade it is failing. I am not sure where the issue is, Please help me in this, Thanks.

[2019-04-18 20:28] jasonhawkins commented on #259
Hey @ugowe, I know it's been a long, long time but I have an update on this!

We just merged a pull request that [adds the `video_files` scope](https://github.com/vimeo/VimeoNetworking/pull/308) which should make this kind of thing much easier in the future. I know this issue has been open for a very long time at this point, but I hope it's helpful.

[2019-04-18 20:29] #259 closed

[2019-04-18 20:32] jasonhawkins commented on #306
@prathamsalawkar We just merged a pull request that[ adds the `VideoFiles` scope to our `Scope` enum](https://github.com/vimeo/VimeoNetworking/pull/308). If you have a Pro account you should be able to combine this with the `Private` scope to access your video files. I hope this is helpful!

[2019-04-18 20:32] #306 closed

[2019-04-23 15:17] rpassis commented on #169
Hi @ErAshu apologies for extended delay in getting back to you! I am going to assume you have worked around this issue but if not please feel free to open another issue detailing the problem you are experiencing.

Thanks!
Rog

[2019-04-23 15:17] #169 closed

[2019-04-23 15:22] rpassis commented on #207
Hi everyone,

Firstly apologies for taking so long to respond to this!

We just released a new version of the framework that should handle the issue with private videos returning 404. You can check it out here https://github.com/vimeo/VimeoNetworking/releases/tag/3.4.0

Rog

[2019-04-23 15:22] #207 closed

[2019-04-23 15:22] rpassis commented on #292
Hi @connorb645,

Firstly apologies for taking so long to respond to this!

We just released a new version of the framework that should handle the issue with private videos returning 404. You can check it out here https://github.com/vimeo/VimeoNetworking/releases/tag/3.4.0

Rog

[2019-04-23 15:22] #292 closed

[2019-04-23 15:25] rpassis commented on #288
Hi @PavelKatunin I am going to close this for now but please feel free to open a new issue if you are still having issues, including the steps to reproduce your problem. Thanks!

[2019-04-23 15:25] #288 closed

[2019-04-23 15:28] rpassis commented on #290
Hi @Vitaliy-Sh ,

Firstly apologies for taking so long to respond to this!

We just released a new version of the framework that may address the issue you are having. You can check it out here https://github.com/vimeo/VimeoNetworking/releases/tag/3.4.0

Once you had a chance to test it, please let us know if it is still a problem and I'll work with you to resolve it.

Thanks!
Rog

[2019-04-23 15:28] #290 closed

[2019-04-30 06:34] Bivinoc commented on #225
@aaalveee , @jasonhawkins I need to play Vimeo private video which is protected by password , I tried public and private video in my Android App, but have to integrate Password protected video ,how can it possible ?

[2019-05-06 14:37] ExtremeKaos opened #320 "Getting private video files"
Hi , i'm unable to get the list of files from VIMVideo.

Have changed the scopes to    scopes: [.Public, .Private, .Interact,.VideoFiles] in authentication (authentication works right) ("video_files")

I can get video name strongSelf.videodir?.name , but when request strongSelf.videodir?.files is returning null.

I have a Pro account. This have been working until have upgraded to last version.

th

[2019-05-06 16:34] ExtremeKaos commented on #320
Hi, i have generated a new token and now i'getting file list.

The linkSecure property of video have a scope diferent, getting null...

Sorry :)

[2019-05-06 16:47] rpassis commented on #320
Thanks @ExtremeKaos!

It sounds like you have sorted it out so I am going to close this issue.

Please feel free to get in touch if you still need help!

Rog

[2019-05-06 16:47] #320 closed

[2019-05-06 17:28] rpassis commented on #225
Hi @Bivinoc could you please open a new issue and we'll work with you to get it solved?

[2019-05-07 07:38] queli1990 opened #321 "How to use in Objective C"

[2019-05-07 13:26] rpassis commented on #321
Hi @queli1990 `VimeoNetworking` is a swift only library - there is no support for Objective-C.

[2019-05-07 13:26] #321 closed

[2019-06-11 12:21] dulgan commented on #220
So please just remove the few lines telling to use Carthage on the main readme.

[2019-06-11 13:24] rpassis commented on #220
Hi @dulgan we have just merged a change to support Carthage integration. You will need to point the Cartfile to the develop branch until we cut a new release. Please let me know if that doesn’t work for you.

Rog

[2019-06-11 13:29] rpassis commented on #220
Hi @dulgan we have just merged a change to support Carthage integration. You will need to point the Cartfile to the develop branch until we cut a new release. Please let me know if that doesn’t work for you.

Rog

[2019-06-11 15:47] dulgan commented on #220
Hi, didn't jasonhawkins said that it wouldn't be supported ?
Sorry if I misleaded.
I'll try it tomorrow.

[2019-06-11 18:12] jasonhawkins commented on #220
@dulgan Like @rpassis said, Carthage support was _juuust_ added 🎉

Definitely feel free to open a new issue if you run into any trouble though.

[2019-06-18 23:49] Vitalyz123 opened #328 "Failed to build scheme (Carthage)"
Hey everyone!

I'm trying to install framework with Carthage but it returns me an error:
Dependency "VimeoNetworking" has no shared framework schemes for any of the platforms: iOS

Can anyone help me please? Thanks!

[2019-06-18 23:53] rpassis commented on #328
Hi @Vitalyz123 we recently merged Carthage support into the develop branch so can you please point your Cartfile to that branch instead of the release tag, and see if it fixes your issue?

We will tag a new release for Carthage support soon.

Thanks
Rog

[2019-06-19 00:02] Vitalyz123 commented on #328
@rpassis hey, thank for the quick reply

I've tried to put github "vimeo/VimeoNetworking" "develop"
But still it returns me an error during building scheme
Build Failed
	Task failed with exit code 65: ...

[2019-06-19 13:30] rpassis commented on #328
Hey @Vitalyz123 I just tried and have been able to reproduce this.

This is a regression from previous behavior, and we will work on a fix shortly.

I'll ping you here again as soon as it is fixed and merged back into develop.

[2019-06-19 17:15] Vitalyz123 commented on #328
@rpassis thank you!

[2019-06-20 00:45] rpassis commented on #328
@Vitalyz123 Thanks again for raising this issue, I created PR #329 which is currently waiting for someone from our team to review but it should be merged into develop shortly. In the meantime please feel free to point your Cartfile to this branch and let us know if it fixes the error you were seeing!

[2019-06-20 19:26] Vitalyz123 commented on #328
@rpassis Thank you for taking care of it :) It seems to be okay now!

[2019-06-20 19:27] rpassis commented on #328
Awesome, thanks for letting me know!

I'm going to leave this issue open until or PR is merged.

Rog

[2019-06-20 19:47] Vitalyz123 commented on #328
@rpassis Actually there is an issue. I don't know if I should raise another ticket but when I'm trying to launch my app it crashes with:

dyld: Library not loaded: @rpath/AFNetworking.framework/AFNetworking
  Referenced from: ../Frameworks/VimeoNetworking.framework/VimeoNetworking
  Reason: image not found

Do you know what can be reason for that? Thanks!

[2019-06-20 19:50] rpassis commented on #328
`VimeoNetworking` currently depends on `AFNetworking` so you also to add that as a Carthage dependency on your main project as well.

There should be a copy of the framework already under `Carthage/Build/[PLATFORM_NAME]` so all you need to do is follow the Carthage integration steps as described [here](https://github.com/Carthage/Carthage#adding-frameworks-to-an-application)

[2019-06-20 19:54] rpassis commented on #328
Here's a quick integration sample in case you want to have a look - https://github.com/rpassis/VIMNetworkingCarthageSample

[2019-06-20 19:57] Vitalyz123 commented on #328
@rpassis Adding AFNetworking.framework did the trick :) Thanks again for your help!

[2019-07-09 11:39] #328 closed

[2019-07-09 11:43] rpassis commented on #328
Hi @Vitalyz123 FYI this has been merged into develop and tagged with `4.1.0-alpha.1` for now.

[2019-07-15 16:40] DavidBemerguy opened #335 "iOS Example app not compiling due to minimum deployment target"
Compiling the iOS Example leads to compile error:
Compiling for iOS 9.0, but module 'VimeoNetworking' has a minimum deployment target of iOS 10.3: /Users/davidbemerguy/Library/Developer/Xcode/DerivedData/VimeoNetworking-ehdrjazwcfjehebpihhnbpxkhzlm/Build/Products/Debug-iphonesimulator/VimeoNetworking.framework/Modules/VimeoNetworking.swiftmodule/x86_64.swiftmodule

[2019-07-18 15:59] rpassis commented on #335
Fixed in #339

[2019-07-18 15:59] #335 closed

[2019-07-25 12:07] DavidBemerguy opened #344 "Carthage support"
I am adding
github "vimeo/VimeoNetworking" to my Cartfile
And then running
carthage update VimeoNetworking --platform io
And receive the error:
Dependency "VimeoNetworking" has no shared framework schemes for any of the platforms: iOS

If you believe this to be an error, please file an issue with the maintainers at https://github.com/vimeo/VimeoNetworking/issues/new

[2019-07-25 13:01] rpassis commented on #344
Hi David can you please try to point your Cartfile to the develop branch and let me know if that makes a difference?

We have made some changes to Carthage integration that are not in master or tagged yet.

[2019-07-25 22:39] rpassis commented on #344
Just as a quick update we released 5.0.0 today so you can now point your Cartfile directly to that version.

[2019-08-05 21:59] rpassis commented on #344
Closing this, please let me know if this is still an issue.

[2019-08-05 21:59] #344 closed

[2019-10-02 12:50] NullGraviton opened #361 "Can't access to "files" array in response /video/\(id)"
Hi.
I need to implement Vimeo's videos playback functionality in my application.
Vimeo account: "live premium",
VimeoNetwork library (release 4.0.0).
iOS 13.1
Xcode 11.0

Here is code:
[code]

As result I got all information about videoFile, beside the "files" array.

[2019-10-08 15:28] dbyst opened #362 "Can't find Video .mp4 url"
Hi guys.
I would like to play vimeo video in my iOS app.
I successfully loaded video details with request
Request<VIMVideo>(path: "/videos/363351622")

But I don't see video .mp4 url that I can play in player.
Where I can find it ?
Thanks

P.S. I have PRO account. And I included .VideoFiles to scope

[2019-10-08 17:41] dbyst commented on #362
Sorry, I forgot to add VideoFiles scope to my access token permissions.

[2019-10-08 17:41] #362 closed, assigned to nobody

[2019-10-14 17:32] rpassis commented on #361
Hi @Crissfade thanks for opening this issue!

Are you able to confirm that the video you are trying to fetch is owned by the authenticated account?

[2019-10-15 12:13] NullGraviton commented on #361
Yes. I confirm that I'm trying to fetch video files owned by the authenticated account.
And even more, I found interesting case:
If I'm trying to fetch video file data, using "Bearer " from response of clientId and clientSecret authentication method with "scope = [.public, .private, .videoFIles]", I did not received any file.
But if I'm trying to fetch video file data, using "Bearer " from develop

[2019-10-18 08:57] djanaviciusito commented on #361
Hi @Crissfade, I had the same issue. What I did to make it work:
- added video_files scope to my app accessToken
- changed keychainServiceKey to new one when generating AppConfiguration

[2019-10-19 10:46] dbyst opened #374 "ITMS-90809: Deprecated API Usage"
Hi guys.
My app uses VimeoNetworking which works great. Thank you.
However, when uploading app to appstoreconnect, I'm receiving message from apple:
ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

This message appears because VimeoNetworking uses AFNetwork

[2019-10-21 14:09] rpassis commented on #374
Hi @dbyst,

Thanks for opening this issue!

Could you please let me know what version of `VimeoNetworking` you are currently using? We have a fix for this that has already been merged into develop but depending on the version you are using there may be multiple breaking changes in the API as we are working towards version 5.0 later in the year.

FWIW it doesn't look like `AFNetworking` is receivin

[2019-10-22 08:37] NullGraviton commented on #361
Hi @djanaviciusito . I was try to do the same, but no positive result. Unfortunately "changed keychainServiceKey to new one when generating AppConfiguration" doesn't helped also. The only way to get VN (VimeoNetworking) work is generate "AccessToken" at dev panel, as I described. I will try your solution later, with an own demo app. Thanks for helping.

[2019-10-22 08:46] dbyst commented on #374
Hi @rpassis.
Thanks for response.
I'm using version 4.0.

[2019-11-04 14:48] tusharquantsapp opened #375 "Generating Access Token through API with scope to private & video_files"
I have a PRO account and I have few video files which are "private" or "hide from vimeo". I need to get the **video_files** value (for streaming url) for these videos with the access token generated through API but I do not wish to use client authentication to view the private/hidden videos in the app. Basically I don't want the user to log in to view my private/hidden videos. Can I generate the a

[2019-11-15 09:55] ihnatmoisieiev commented on #374
Hello, Vimeo Team!

First of all, thanks for great library.

When we could expect a new release fixing the issue?

[2019-11-15 12:08] rpassis commented on #374
Hi there

We tagged an update to 4.0 to 4.1.0 here https://github.com/vimeo/VimeoNetworking/releases/tag/4.1.0. This will be published to cocoapods today.

Let us know how you go after updating and feel free to get in touch if you have any questions.

[2019-11-15 12:18] ihnatmoisieiev commented on #374
@rpassis thank you for quick response and action!

[2019-11-15 14:54] rpassis commented on #374
Just a quick update - `4.1.0` has been [published](https://cocoapods.org/pods/VimeoNetworking) to Cocoapods as of this morning.

[2019-11-15 14:54] #374 closed, assigned to nobody

[2019-11-15 15:55] rpassis commented on #375
Hi @tusharquantsapp,

To be able to query for those `video_files` you will need some form of authentication. If requiring client authentication is not an option, the only alternative is to use an access token.

Where you do that is completely up to you though.

You could - for example - have your backend call the API, parse the `video_files` and expose them via an access point that the app can que

[2019-11-15 15:56] rpassis commented on #361
Hi @Crissfade have you been able to solve this issue?

[2019-11-15 19:58] Hurricane1111 commented on #361
No. Actually I left generated access token as I described early. Do you have any news about this?

[2019-11-15 20:03] rpassis commented on #361
Just to avoid any confusion @Hurricane1111, are you the same user as @Crissfade or are you saying to have a similar issue?

[2019-11-16 05:04] Hurricane1111 commented on #361
Oh, sorry to confused you. Yes. I am the same user.

[2019-11-17 18:28] rpassis commented on #361
Hi @Crissfade thanks for confirming!

I noticed that you are using the `clientCredentialsGrant` credentials method of the `AuthenticationController`. Note that what this returns you is an unauthenticated user so you will *not* have access to the **Video Files** scope as per the documentation:

For that you will need to authenticate first, then request the video(s) (or alternatively use an authenti

[2019-11-18 09:46] NullGraviton commented on #361
@rpassis Thanx for helping me. I leave this as it for now.
I'm closing this issue.

[2019-11-18 09:46] #361 closed, assigned to rpassis

[2019-11-22 19:50] rpassis commented on #375
Closing this for now - please feel free to reopen if you still need help.

[2019-11-22 19:50] #375 closed, assigned to nobody

[2020-02-05 21:06] Cleversou1983 opened #405 "Caption / Subtitle"
Does the current video player for iOS supports subtitles? How's that work? Thanks!

[2020-02-06 11:40] #405 closed, assigned to nobody

[2020-02-27 21:14] doriansgithub opened #411 "App crashes at launch"
There are no images in the Assets.

dyld: Library not loaded: @rpath/VimeoNetworking.framework/VimeoNetworking
  Referenced from: /private/var/containers/Bundle/Application/B35BBDF4-5F80-4303-9D37-B927AB0BA4C1/Example.app/Example
  Reason: image not found

[2020-03-03 16:15] pangia opened #412 "Objective C"
Are there any examples of how to use the SDK in an Objective C app?

[2020-03-03 16:31] rpassis commented on #412
Hi there,

The library does not officially support Objective-C.

It **may** work but we make no guarantees, nor provide any support for it.

Thanks for reaching out!

Rog

[2020-03-03 16:31] #412 closed, assigned to nobody

[2020-03-04 04:42] pangia commented on #412
We have a vimeo pro account, and would like to use Vimeo in one of our larger apps. Is there any suggestion for implementation in a objc project?

[2020-04-14 02:50] dipkasyap opened #417 "Always getting 404"
[code]

[2020-04-14 10:09] #417 closed, assigned to nobody

[2020-04-25 13:59] vishnugupta20 opened #418 "Update dependency AFNetworking to 4.0"
Hello,

I am getting Apple rejection of using depreciated UIWebView. AFNetworking was using UIWebView they have a fix released with version 4.0. When I am updating the my pod I getting below error.

[2020-04-30 23:27] BCtopics commented on #418
+1 having the same issue

[2020-04-30 23:37] BCtopics commented on #418
I had this same issue. The dependency Is completely removed in the newest release. I'd suggest trying to update to the new version :)

[2020-05-04 11:31] rpassis commented on #418
Thanks @BCtopics and glad to hear you've been able to update to the latest version.

@vishnugupta20 please let us know if you need any help. The version you need to update to is `4.1.0` so in your `Podfile`

[code]

Then run

[code]

Depending on which version of the library you are currently running there may be some (potentially minor) breaking changes. You can see the release notes [here](https

[2020-05-14 00:08] davilico05 opened #419 "Mac Catalyst issue in iOS app"
To compile an application, one of the libraries included in the SDK uses a discontinued method

**File** --> UIKit+AFNetworking/AFImageDownloader.m

**Error:**
    return [[NSURLCache alloc] initWithMemoryCapacity:20 * 1024 * 1024
                                         diskCapacity:150 * 1024 * 1024
                                             diskPath:@"com.alamofire.imagedownloader"];

**Solut

[2020-05-21 09:09] bogdanpralea opened #420 "How do you play a video after you get it?"
Hello,
so I am able to get the videos from VimeoNetworking, but I don't know how to play them using the PlayerKit.

Help?
Thanks

[2020-05-21 10:03] bogdanpralea commented on #420
Nevermind. I have found the answer in the closed issue.

[2020-05-21 11:52] #420 closed, assigned to nobody

[2020-06-02 19:57] igoriols commented on #418
Hi @rpassis , may I use `VimeoNetworking` with `AFNetworking`?

[2020-06-03 18:07] rpassis commented on #418
Hi @igoriols you don’t need to add any third party dependencies to use our library.

FWIW (currently) we still implicitly depend on AFNetworking but this is internal to the library and an implementation detail that may change at any time.

[2020-06-03 18:41] igoriols commented on #418
Hi @rpassis , I'm working on a project that already has the `AFNetworking` dependency, but I would like to include `VimeoNetworking`.

I'm facing the following error: 'AFURLSessionManager.h' file not found in `UIRefreshControl+AFNetworking.h` of `VimeoNetworking`.

Here a sample project:
https://github.com/igoriols/TestVimeoNetworkingWithAFNetworking

I think it is because there are files with the

[2020-06-03 20:49] rpassis commented on #418
Because we implicitly depend on AFNetworking, when you add the library as an external dependency it is pulling a different version (most likely with breaking API changes).

The easiest way to solve this is to lock the AFNetworking version in your podfile to `3.1.0`:

[code]

I've tried it with your sample project and was able to build it successfully.

The problem with this approach is that it mea

[2020-06-11 19:33] igoriols commented on #418
Hi @rpassis, it didn't work... I ended up discarding `VimeoNetworking` and using the web API to make the requests using `URLSession`. In the future we are planning to remove `AFNetworking` from our app, but since they both are using different versions of `AFNetworking` even if there are files of the library inside `VimeoNetworking`, the compiler accuses that there is more than one version as sourc

[2020-06-11 19:54] rpassis commented on #418
Thanks for the update @igoriols. We have an updated version of the networking library that no longer relies on AFNetworking as well. There are no current plans to release it publicly yet but keep an eye out for it over the next few months. In the meantime I think the move to just use a URLSession instead is pretty reasonable, specially if your use case is simple.

[2020-06-11 19:54] #418 closed, assigned to nobody

[2020-07-25 13:52] chandanrana commented on #225
@Bivinoc Did u found any solution to play video? Github example does not seem that helpful.

[2020-08-21 13:37] rnstewart opened #423 "What is "keychainService" in AppConfiguration constructor?"
The instructions show an example of creating an instance of `AppConfiguration` using the parameters `clientIdentifier`, `clientSecret`, and `scopes`. But the actual `AppConfiguration` class requires a fourth parameter called `keychainService`. What is this? I see no mention of it anywhere in the documentation, and searching elsewhere hasn't helped me in any way.

Can you please clarify this? It wo

[2020-08-21 13:41] rnstewart opened #424 "What is "sessionManager" in VimeoClient constructor?"
Another discrepancy I found in the documentation.

It says that `VimeoClient` can be constructed like this:

[code]

But the actual class requires more in its constructor:

[code]

I don't see anything about this `sessionManager` in the documentation. Can you update it to include that?

[2020-08-21 13:45] rnstewart opened #425 "AuthenticationController documentation is wrong."
The documentation claims that `AuthenticationController` can be created like this:

[code]

But it actually requires two more parameters:

[code]

Can you provide some information on those parameters and how to create them?

[2020-10-03 15:01] hiteshborse12 commented on #420
@bogdanpralea  please share your answer. Once we got VIMVideo array how to play video?

[2020-10-03 15:23] hiteshborse12 opened #426 "Videos files nil."
I want to play vimeo video. Using VimeoNetworking to get a video file URL. I am getting success callback but files are nil.
**Can you please help me with how can I fetch video file URL to play within the application?**

My code to fetch videos(video id:**209096387** ):

[2020-10-04 03:26] rpassis commented on #426
Hi there,

A couple of things you may want to check:

1) Add `.VideoFiles` scope to your authentication request
2) Make sure you are authenticating with a PRO user account

Cheers,
Rog

[2020-10-05 14:45] hiteshborse12 commented on #426
@rpassis Thanks for the reply.
I added the scope "VideoFiles". but still getting nill for files.
Video URL: https://vimeo.com/464183390.

Updated code:
`    func setupVimeoPlayer() {
        let appConfiguration = AppConfiguration(clientIdentifier: ".....",clientSecret: ".....",scopes: [.Private,.Public,.VideoFiles],keychainService: "nfromation")
        let vimeoSessionManager = VimeoSessionManag

[2020-10-05 21:19] rpassis commented on #426
Hi @hiteshborse12,

Based on the response included above, I can see that the user you are authenticating with has a **PLUS** account. You will only be able to access your video files links with a **PRO** account (see https://vimeo.com/upgrade for details).

[2020-10-06 06:26] hiteshborse12 commented on #426
Thanks. Will check with account owner :-)

[2020-11-02 19:08] DisobedientMedia commented on #419
I'm also running into this problem. Has the version of AFNetworking been updated in VimeoNetworking?

[2020-11-09 16:59] diegoot-dev opened #427 "How can I edit the title and description of a video?"
I try various ways and I have the following error:

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Invalid type in JSON write (VIMVideo)'`

I have the following code:

`authenticationController.clientCredentialsGrant { result in
                switch result {

                case .success(let account):
                    print("Successfully authenticated with

[2020-11-19 10:06] thilakks opened #428 "Vimeo not support Xcode 12.1 iOS 14.1 in swift"
Vimeo not support Xcode 12.1 iOS 14.1 in swift code

[2020-11-19 15:40] rpassis commented on #428
Hi @thilakks can you please describe the issue you are experiencing?

[2020-11-22 12:22] nelsonnil commented on #427
I have same issue, has got the solution

[2020-11-22 18:20] Insider77 commented on #428
let videoRequest = Request<VIMVideo>(path: "/videos/123456") throws "Cannot specialize a non-generic definition"

[2020-11-26 06:32] samgherman opened #429 "Video files are nil / Can't Play Videos / Documentation is out of date"
I bought a pro account so I can play videos in my app. All I wanted was a simple tutorial on how to play videos in my account in my app. I've been at this for hours now. I followed the documentation, which is out of date by the way as noted by other open issues, and no matter what I do "files" always return nil. Which I think is what I need to put in your PlayerKit Player. **There literally is no

[2020-12-03 11:53] sharadkk commented on #225
We have a Vimeo Pro account and want to integrate private videos in our android app since we don't want them to be embedded anywhere other than our website (visible only to our registered users) and on our app.

Issue is when we make the videos private, it works on website by allowing the domain but it doesn't works on our app. Can anyone suggestion a solution?

[2020-12-13 18:10] hiteshborse12 commented on #426
Hi @rpassis,
I upgrade Vimeo account. Still, video files coming nil.
Details:
account: live_premium
scopes: [.Public,.Interact,.Private,.VideoFiles]
Video id: 464183390

Please @rpassis  help ASAP to get video files. Attached code and response file.
[vimeoResponse.txt](https://github.com/vimeo/VimeoNetworking/files/5685122/vimeoResponse.txt)
[code.txt](https://github.com/vimeo/VimeoNetworking/file

[2020-12-16 14:28] hiteshborse12 commented on #426
Fixed. Created new personal access token.

[2020-12-16 14:28] #426 closed, assigned to nobody

[2020-12-23 08:48] AnushkaMishra commented on #425
Hello, any update on this?

[2021-01-13 14:20] PawelAmbrozej opened #430 "VimeoClient init creates memory leak"
Using Debug Memory Graph in Xcode I noticed that whenever I create VimeoClient, it creates memory leak in the app. To confirm if this is not because my app creates that, I created dummy app with just one UIViewController and with this test code:

[code]
This is what I get in Memory Graph after running the app:

![Screenshot 2021-01-13 at 14 15 38](https://user-images.githubusercontent.com/56631314

[2021-01-17 00:36] myrrhai opened #431 "Come Watch @Myrrhai on Vimeo.com"
Leave a comment on my Video(s) on Vimeo about GitHub #twitch #myrrhai #vimeo

[2021-01-17 00:57] #431 closed

[2021-02-03 08:14] faixan23 commented on #429
@samgherman I am facing a similar issue, are you able to resolve it yourself?

[2021-02-03 08:20] faixan23 opened #432 "Can't Play Video"
When i integrated the VimeoNetworking, then the videos uploaded on my vimeo account are playing fine within my app. Few days ago, I discovered that videos are not playing in the app anymore. Now I am getting **"Video link not valid"** error which I have put in the code below.

[code]

[code]

[2021-02-22 20:03] surveshoeb commented on #225
@sharadkk Have you found any work around for your issue?

[2021-03-23 00:21] swissdude opened #433 "How to use in Objective-C?"
I have an Objective-c Project and am trying to use this Framework (and the VimeoUploader). Alas it's not working.

I'm using

#import <VimeoNetworking/VimeoNetworking.h>
#import <VimeoUpload/VimeoUpload-Swift.h>

But when I try to instantiate the classes, XCode doesn't recognize them.

I'm using cocoapods, btw and did add the Frameworks with it.

[2021-03-23 00:38] rpassis commented on #433
Hi there,

Both libraries do not officially support Objective-C but you may have some luck by using:

[code]

We make no guarantees that this will work and some of the public API may still be unavailable for use, but it is worth a shot.

Good luck!
Rog

[2021-03-23 00:38] #433 closed, assigned to nobody

[2021-04-05 16:47] fmp6475 commented on #429
I am facing the same issue now. But somehow I managed to extract the video URL using another third-party library called HCVimeoVideoExtractor. Maybe this provides a workaround to play videos on iOS natively.

[2021-04-09 07:07] kiramikacan opened #435 "I'm not getting files of video, always been getting nil for even public videos"
I need to get .mp4 url of a Vimeo video, I'm using PlayerKit sdk in iOS, we have a pro Vimeo account, I'm using video request endpoint of VimeoNetworking sdk, endpoint returns me a VIMVideo object but the "Files" field always being nil.

Here is my code:

        let appConfiguration = AppConfiguration( clientIdentifier: "myIdentifier", clientSecret: "mySecret", scopes: [.Public, .Private, .Intera

[2021-04-12 09:01] julianvogels opened #436 "[Enhancement] Conversion to Swift 5"
Xcode is generating a warning a conversion to Swift 5 is available (which means that a dependency is not using Swift 5 yet).
![Screen Shot 2021-04-12 at 10 57 39](https://user-images.githubusercontent.com/2789176/114368875-2098c700-9b7e-11eb-8ef7-24522ee3cf41.png)

Clicking on the warning reveals that `VimeoNetworking.framework` is not yet written in Swift 5. The project could be updated to Swift

[2021-04-24 12:14] vishalhyperspace commented on #435
You wil get  video file using below code:

let videoFiles = VideoRequest.videoRequest(forVideoURI: "me/videos/429443335")
            _ = VimeoClient.defaultClient.request(videoFiles) { (result) in
                    switch result {
                    case .success(result: let videoInf):
                        print(videoInf.model.files)
                    case .failure(error: let error):

[2021-04-24 12:21] vvdodiya commented on #435
Try this code to get video file.
`let videoFiles = VideoRequest.videoRequest(forVideoURI: "me/videos/534313082")
            _ = VimeoClient.defaultClient.request(videoFiles) { (result) in
                    switch result {
                    case .success(result: let videoInf):
                        print(videoInf.model.files)
                    case .failure(error: let error):

[2021-04-26 06:26] vvdodiya commented on #420
@bogdanpralea  please share your answer. I got VIMVideo from VimeoNetworking but can not play it. please help

[2021-04-26 09:10] bogdanpralea commented on #420
func playVideo(from urlString: String) {
        let player = AVPlayer(url: URL(string: urlString)!)
        let vc = AVPlayerViewController()
        vc.player = player

        self.present(vc, animated: true) {
            vc.player?.play()
        }
    }

[2021-04-27 12:21] vvdodiya commented on #412
Hello I want to integrate in objective c project. please help me.

[2021-04-27 12:25] vvdodiya opened #437 "VimeoNetworking/VimeoNetworking-Swift.h' not found."
Hello,
I have a premium account I want to integrate into the objective c project. when I install the pod it will give below error:
"VimeoNetworking/VimeoNetworking-Swift.h' file not found"
Please help

[2021-04-28 03:36] vvdodiya commented on #412
Hello @pangia  @rpassis
I want to integrate VimeoNetworking in the Objective c project. Is there any suggestion for improvement in objective c Project. Please help.

[2021-04-28 15:19] theogscott opened #438 "'AFHTTPResponseSerializer' has different definitions in different modules"
I have AFNetworking, required for legacy Objc Code needs it,  in my pod file, but as soon as I add VimeoNetworking then the Swift compiler produce a few similar problems above

The full message is: 'AFHTTPResponseSerializer' has different  definitions in different modules; first difference is definition in module 'VimeoNetworking.AFURLResponseSerialization' found property

How do I proceed?

Would

[2021-05-08 04:33] theogscott commented on #438
Not sure if anybody is here, but my solution to this problem was to rename all the AF... classes in Sources/Shared/ThirdParty/AFNetworking to VIMAF... to keep the linker happy.

Still puzzled why Vimeo made a physical copy of the AFNetwoking classes into the VimeoNetworking.

[2021-05-08 04:34] #438 closed, assigned to nobody

[2021-05-18 09:28] Shayila commented on #420
@bogdanpralea can you please share the url structure to play the vimeo video in playerkit.

[2021-05-18 11:52] bogdanpralea commented on #420
As you can see above I haven't used the playerkit, I have used AVPlayerViewController

[2021-05-21 05:35] Shayila commented on #420
@bogdanpralea "https://vimeo.com/{video-id}" this is the url structure i'm receiving. If try to play this in avplayer it's not working. Kindly suggest

[2021-05-21 05:48] hiteshborse12 commented on #420
@Shayila  & @vvdodiya Please share your code to get the video URL. Verify which premium account you are using. You will only be able to access your video files links with a PRO account .
[https://github.com/vimeo/VimeoNetworking/issues/426](url)

[2021-07-24 22:38] DoctorShredd commented on #425
Same issue.  Cant get it to work without these parameters.  Some guidance and/or documentation is needed here, please.